*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins','sans-serif';
}

body{
    background:#272643;
    color: white;
    overflow: hidden; /* controls what happens to content that is too big to fit into an area. */
    overflow-y: scroll; /* make scrolable */ 
}