.contact{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactTitle{
    font-size: 3rem;
    margin: 3.5rem 0 1rem 0;
}

.contactDesc{
    font-size: 1rem;
    font-weight: 200;
    max-width: 45rem;
    padding: 0rem 2rem;
    text-align: center;
}

.contactForm{
    margin: 1rem;
    width: 90vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name, .email, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: rgb(30, 30, 30);
    color: white;
    border: 2px solid #ffffff;
    padding: 0.7rem 3.5rem;
    border-radius: 0.7rem;
    margin: 0.5rem 0 2rem;
    transition: background 0.3s ease, color 0.3s ease, transform 0.5s ease;
}

.submitBtn:hover{
    color: rgb(255, 255, 255);
    background: white;
    cursor: pointer;
    transform: scale(1.1);
}

.links{
    display: flex;
    flex-wrap: wrap;
}
