.card-container {
    overflow: hidden;
    width: 260px;
    margin: 2rem 1rem;
  }
  
  .card {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease;
    border: 1px solid #ffffff;
    background: rgb(40, 40, 40);
    border-radius: 2rem; 
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 2rem 2rem 0 0; 
  }
  
  .card-content {
    text-align: center; 
  }
  
  .card-content,
  .card-footer {
    padding: 0.5rem;
  }
  
  .card-content h2 {
    margin-top: 0;
  }
  
  .card-footer button {
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
  }
  
  .card-footer button:hover {
    background-color: #297fb8; 
  }
  