
.skills_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.Skill_Main_Title{
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem 0 1rem 0;
}

.Skill_Collection{
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_card{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background: rgb(40, 40, 40);
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 2rem;
    border: 2px solid #ffffff;
    width: 45%;
    align-content: start;
    padding: 0 0.5rem 0.5rem 0.5rem;
    transition: background 0.3s ease, transform 0.5s ease;
}

.skill_card:hover { 
    transform: scale(1.1);  
}

.skill_title{
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 50px;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.skill_Box{
    flex: 0 0 30%;
    background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 0.7rem;
    border: 2px solid #ffffff;
}

@media screen and (max-width:580px) {
    .skill_card{
        width: 100%;
        max-width: none;
    }
}

/*Skills blur effect*/
.skills_main.blur-eff .skill_card,
.skills_main.blur-eff .Skill_Main_Title{
    translate: 0 60px;
    filter: blur(30px);
    opacity: 0;
    animation-name: skillShow;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes skillShow {
    to{
        translate: 0 0;
        filter: blur(0);
        opacity: 1;
    }
}
.skills_main.blur-eff .skill_card:nth-child(1),
.skills_main.blur-eff .skill_card:nth-child(2){
    animation-delay: 0.4s;
}
.skills_main.blur-eff .skill_card:nth-child(3),
.skills_main.blur-eff .skill_card:nth-child(4){
    animation-delay: 0.8s;
}
.skills_main.blur-eff .skill_card:nth-child(5){
    animation-delay: 1.2s;
}