.skills_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    padding: 0 1rem;
}

.skillTitle{
    font-size: 2rem;
    font-weight: 600;
    padding-top: 3rem;
}

.Skill_Collection{
    display: flex;
    width: 50vw;
    height: 35vw;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_card{
    display: flex;
    background: rgb(40, 40, 40);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 2rem;
    max-width: 45%;
}

.skill_title{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.skill_Box{
    width: 25vw;
    flex: 0 0 30%;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 2rem;
    transition: background 0.3s ease, color 0.3s ease; 
}

.skill_Box:hover {
    color: black; 
    cursor: pointer; 
    transform: scale(1.1); 
    transition: background 0.3s ease, color 0.3s ease, transform 0.5s ease, box-shadow 0.3s ease; 
}